
  *{
    margin: 0;
}
@import url('https://fonts.googleapis.com/css?family=Ubuntu');
.titulo {
    font-family: 'Ubuntu', sans-serif;

}
.titulo.salon{
  
    font-size: 4vw;
}
.titulo.vk{
  
    font-size: 5vw;
}
#hero{
 
    border: 0px;
    width: 100%;
    height: 100vh;
    background-image: url(../images/prueba.jpg)   ;
    background-size:100vw;
    border: 2px solid black;
}
footer {
    height: 100vh; 
}