@import url('https://fonts.googleapis.com/css?family=Ubuntu');
html, body {
  height: 100%;
}
body {
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  color: #f5f5f5;
}
.hero {
  background: url(../images/prueba.jpg) no-repeat center;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.432);
  background-blend-mode: multiply;
  height: 100%;
  width: 100%;
}
.inner-text {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 50px;
}
@media only screen and (min-width: 320px) {
  .inner-text {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media only screen and (min-width: 400px) {
  .inner-text {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media only screen and (min-width: 680px) {
  .inner-text {
    font-size: 75px;
  }
}
@media only screen and (min-width: 950px) {
  .inner-text {
    font-size: 100px;

  }
 
}
.p1 {
  display: block;
  font-size: 1em;
  font-weight: 900;
  marGIN: 0;
  line-height: 1;
}
@media only screen and (max-width: 465px) {
  .p1 {
    font-size: 0.6em;
    display: block;
    position: absolute;
    top: -25%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}
.p2 {
  display: inline-block;
  font-size: 0.6em;
  font-weight: 100;
  margin: 0;
  line-height: 1;
  color: #fee5c0;
}
@media only screen and (max-width: 465px) {
  .p2 {
    position: relative;
    top: 0.6em;
  }

}
.hero-down {
  position: absolute;
  bottom: 0;
  font-size: 2em;
  width: 2em;
  height: 2em;
  color: #f5f5f5;
  border-radius: 100%;
}
.hero-down:hover, .hero-down:focus {
  color: #ccc;
}
.hero-down:active {
  color: #f5f5f5;
}
.hero-down .btn-react {
  background-color: #f5f5f5;
  height: 100%;
  width: 100%;
  border-radius: 100%;
  opacity: 0;
  position: absolute;
}
.hero-down i {
  vertical-align: bottom;
  position: relative;
  top: 0.1em;
}
.footer {
 line-height: 40px;
 /* height: 310px; */
 /* width: 100%; */

 /* color: white; */
 padding: 5px 5% 5px 5%;
 border-top: 1px solid #a29061;
}
.footer a{
  text-decoration: none;
 color: black;
}
#subfooter{
 
  width: 100%;

  font-size: 16px;


  

  /* padding: 30px 40px; */
  color: #75818a;
  
}
footer{
  background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(0,67,213,1) 100%);
}
#subfooter div{
width: 100%;
  display: flex;
  justify-content: center;
align-content: center;
background-color: #222;
line-height: 20px;
border-top: 1px solid #a29061;
}

.mapa {float: right;
  height: 100%;
}
footer i{
  padding: 10px;
}
.foot1{
  color: black;

}
#derecha{
float: left;
}

  /*CSS DAVID*/
  .page_inf{
    color: black;
    background: #F7F7F7;
    padding: 5%;
    height: 100%;
    width: 100%;
  }
  .jstfy{
    text-align: justify; /*Esto es un poco idiota By David*/
  }
  .imgx{
   
   width: 510px;
   height: 510px;
   border-radius: 50%;
   border-color: #323643;
   border-style: solid;
   border-width: 10px;
   transition: 0.5s;
  }
  .imgx:hover{
    border-radius: 0%;
    width: 520px;
    height: 520px;
   
  }
  /*FIN CSS DAVID*/

/* social */
.social {
	position: fixed; /* Hacemos que la posición en pantalla sea fija para que siempre se muestre en pantalla*/
	left: 0; /* Establecemos la barra en la izquierda */
	top: 265px; /* Bajamos la barra 200px de arriba a abajo */
	z-index: 2000; /* Utilizamos la propiedad z-index para que no se superponga algún otro elemento como sliders, galerías, etc */
}
	.social ul {
    list-style: none;
    padding: 0;
    width: 30px;
  }
  social ul li{
    padding: 0;
    width: 10px;
  }
	.social ul li a {
		display: inline-block;
		color:#fff;
		background: #000;
		padding: 5px 5px;
		text-decoration: none;
		-webkit-transition:all 500ms ease;
		-o-transition:all 500ms ease;
    transition:all 500ms ease; /* Establecemos una transición a todas las propiedades */
    width: 30px;
	}
	.social ul li .fa-facebook-f {background:#3b5998;} /* Establecemos los colores de cada red social, aprovechando su class */
	.social ul li .fa-twitter {background: #00abf0;}
	.social ul li .fa-google-plus-g {background: #d95232;}
	.social ul li .fa-instagram {background: #da32e5;}
	.social ul li .fa-at {background: #666666;}
  .social ul li  .fa-whatsapp {background: #25d366;}
	.social ul li a:hover {
    background: #043d5b; /* Cambiamos el fondo cuando el usuario pase el mouse */
    color: #fee5c0;
		padding: 10px 10px; /* Hacemos mas grande el espacio cuando el usuario pase el mouse */
  }

  /* fin social */